@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Queen Rosie Regular';
  src: url("../fonts/QueenRosie.eot");
  src: url("../fonts/QueenRosie.eot?#iefix") format("embedded-opentype"), url("../fonts/QueenRosie.woff") format("woff"), url("../fonts/QueenRosie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  background-color: #ADADAD;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
.header {
  background-image: url("../img/background.jpg");
  border: 1px solid black;
  border-bottom: 3px solid black;
  position: fixed;
  width: 100%;
  top: 0;
}
.header .navbar__links {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header .navbar__links li {
  border-right: 1px solid #babbbb;
  width: 20%;
}
.header .navbar__links li:first-of-type {
  border-left: 1px solid #babbbb;
}
.header .navbar__links a,
.header .menu__phone a {
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #949494;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .navbar__links a:hover {
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .menu__phone {
  position: absolute;
  background-image: url("../img/background.jpg");
  width: 100%;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
}
.header .menu__phone ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.header .menu__phone ul li {
  padding-top: 10px;
}

label[for="menu"] {
  color: black;
  cursor: pointer;
  position: absolute;
  right: 5%;
  margin-top: 25px;
  display: none;
}

input[id="menu"], label[for="menu"] {
  display: none;
}

input[id="menu"]:checked ~ label[for="menu"] {
  color: white;
  z-index: 1;
}

input[id="menu"]:checked ~ .header .menu__phone {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (max-width: 650px) {
  .header {
    border: none;
  }

  .navbar {
    display: none;
  }

  label[for="menu"] {
    display: block;
    font-size: 20px;
  }
}
.hero--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.hero .phone__number {
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
}
.hero .phone__description {
  text-align: center;
}
.hero__title {
  font-family: 'Queen Rosie Regular', sans-serif;
  text-align: center;
}
.hero__title h1 {
  font-size: 45px;
}
.hero__title h1:first-letter {
  font-size: 65px;
}
.hero__search form {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.hero__search input {
  width: 80%;
}

@media (max-width: 991px) {
  .hero--wrap {
    margin-top: 40px;
  }
  .hero__title h1 {
    font-size: 35px;
    text-align: center;
  }
  .hero__title h1:first-letter {
    font-size: 55px;
  }
  .hero .phone__number {
    font-size: 16px;
  }
  .hero .phone__description {
    font-size: 12px;
  }
  .hero__search input {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .hero__phone, .hero__search {
    display: none;
  }
}
@media (max-width: 650px) {
  .hero--wrap {
    margin: 0px;
  }

  .hero__title h1 {
    margin: 0;
    margin-right: 25px;
  }
}
.portfolio {
  min-height: 500px;
}
.portfolio .portfolio--wrap {
  min-height: 500px;
  width: 100%;
  background-image: url("../img/background.jpg");
  border: 2px solid black;
  border-radius: 50px 50px;
}
.portfolio__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: inherit;
}
.portfolio .slider input {
  display: none;
}
.portfolio .slider {
  width: 70%;
  position: relative;
  text-align: center;
}
.portfolio .slide1 {
  background: url("../img/portfolio/1.jpg");
}
.portfolio .slide2 {
  background: url("../img/portfolio/2.jpg");
}
.portfolio .slide3 {
  background: url("../img/portfolio/3.jpg");
}
.portfolio .slide4 {
  background: url("../img/portfolio/4.jpg");
}
.portfolio .slide5 {
  background: url("../img/portfolio/5.jpg");
}
.portfolio .images div {
  width: 20%;
  min-height: 450px;
  float: left;
  border-radius: 50px 50px;
  background-size: cover;
}
.portfolio .images {
  width: 500%;
  line-height: 0;
}
.portfolio .slides--wrap {
  overflow: hidden;
}
.portfolio #toggle1:checked ~ .switches label[for="toggle5"],
.portfolio #toggle2:checked ~ .switches label[for="toggle1"],
.portfolio #toggle3:checked ~ .switches label[for="toggle2"],
.portfolio #toggle4:checked ~ .switches label[for="toggle3"],
.portfolio #toggle5:checked ~ .switches label[for="toggle4"] {
  background: url("../img/portfolio/arrow-circle-left-solid.svg") no-repeat;
  position: absolute;
  left: -10%;
  top: 40%;
  height: 54px;
  width: 54px;
}
.portfolio #toggle1:checked ~ .switches label[for="toggle2"],
.portfolio #toggle2:checked ~ .switches label[for="toggle3"],
.portfolio #toggle3:checked ~ .switches label[for="toggle4"],
.portfolio #toggle4:checked ~ .switches label[for="toggle5"],
.portfolio #toggle5:checked ~ .switches label[for="toggle1"] {
  background: url("../img/portfolio/arrow-circle-right-solid.svg") no-repeat;
  position: absolute;
  right: -10%;
  top: 40%;
  height: 54px;
  width: 54px;
}
.portfolio #toggle1:checked ~ .slides .images {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.portfolio #toggle2:checked ~ .slides .images {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.portfolio #toggle3:checked ~ .slides .images {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
.portfolio #toggle4:checked ~ .slides .images {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
.portfolio #toggle5:checked ~ .slides .images {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}
.portfolio .switches label {
  cursor: pointer;
}
.portfolio .slides .images {
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*# sourceMappingURL=style.css.map */