@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Queen Rosie Regular';
  src: url("../fonts/QueenRosie.eot");
  src: url("../fonts/QueenRosie.eot?#iefix") format("embedded-opentype"), url("../fonts/QueenRosie.woff") format("woff"), url("../fonts/QueenRosie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
.header {
  background-image: url("../img/background.jpg");
  border: 1px solid black;
  border-bottom: 3px solid black;
  position: fixed;
  width: 100%;
  top: 0;
}
.header .navbar_links {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header .navbar_links li {
  border-right: 1px solid #babbbb;
  width: 20%;
}
.header .navbar_links li:first-of-type {
  border-left: 1px solid #babbbb;
}
.header .navbar_links a,
.header .menu_phone a {
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #949494;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .navbar_links a:hover {
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .menu_phone {
  position: absolute;
  background-image: url("../img/background.jpg");
  width: 100%;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
}
.header .menu_phone ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.header .menu_phone ul li {
  padding-top: 10px;
}

label {
  color: black;
  cursor: pointer;
  position: absolute;
  right: 5%;
  margin-top: 25px;
}

input, label {
  display: none;
}

input:checked ~ label {
  color: white;
  z-index: 1;
}

input:checked ~ .header .menu_phone {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (max-width: 650px) {
  .header {
    border: none;
  }

  .navbar {
    display: none;
  }
}
label {
  display: block;
}

/*# sourceMappingURL=style.css.map */