@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Queen Rosie Regular';
  src: url("../fonts/QueenRosie.eot");
  src: url("../fonts/QueenRosie.eot?#iefix") format("embedded-opentype"), url("../fonts/QueenRosie.woff") format("woff"), url("../fonts/QueenRosie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  background-image: url("../img/background-body.jpg"); }

.container {
  max-width: 1170px;
  margin: auto; }

.wrap {
  background-image: url("../img/background.jpg");
  border: 2px solid #808080;
  border-radius: 50px 50px; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }
@media (max-width: 991px) {
  .container {
    max-width: 760px; } }
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px; }

  .wrap {
    border-radius: 0; } }
.toggle_menu {
  display: none; }

.scroll {
  background-image: url("../img/background.jpg");
  border: 1px solid #000000;
  border-bottom: 3px solid #808080;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1; }
  .header-navbar__links {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .header-navbar__links li a {
    outline: none; }
  .header-navbar__links > li {
    border-right: 1px solid #babbbb;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .header-navbar__links > li:first-of-type {
    border-left: 1px solid #babbbb; }
  .header-navbar__links a {
    font-family: 'Proxima Nova Semibold', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header-navbar__links a:hover {
    color: #BDBDBD;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

label[for="menu"] {
  display: none;
  color: #000000;
  cursor: pointer;
  position: fixed;
  right: 5%;
  margin-top: 25px;
  z-index: 2; }

input[id="menu"]:checked ~ label[for="menu"] {
  color: #ffffff;
  z-index: 2; }

input[id="menu"]:checked ~ .header .header-navbar__links {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

@media (max-width: 650px) {
  .header-navbar__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-image: url("../img/background.jpg");
    width: 100%;
    left: 0;
    margin: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 0; }
  .header-navbar__links li {
    border: none;
    padding-top: 20px; }
  .header-navbar__links li:first-of-type {
    border: none; }
  .header-navbar__links li:last-of-type {
    padding-bottom: 20px; }

  label[for="menu"] {
    display: block;
    font-size: 20px; } }
.submenu__scroll {
  background-image: url("../img/background.jpg");
  border: 2px solid #808080; }

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  padding-top: 5px;
  margin-top: 15.5px;
  width: 195px;
  display: none;
  border-top: none;
  border-radius: 0 0 50px 50px; }

.submenu li {
  text-align: center;
  margin-bottom: 5px;
  width: 100%; }

.submenu li a {
  font-size: 14px; }

.header-navbar__links li:hover .submenu,
.submenu li:hover {
  display: block; }

.header-navbar__links > li > a {
  padding: 0 30%;
  padding-bottom: 16px;
  text-align: center; }

@media (max-width: 1199px) {
  .submenu {
    width: 175px; }

  a[href="#rooms"] .submenu li {
    width: 155px; } }
@media (max-width: 991px) {
  .submenu {
    width: 130px; }

  .header-navbar__links > li > a {
    padding: 0;
    padding-bottom: 16px; } }
@media (max-width: 768px) {
  .submenu {
    width: 15.5%; } }
.hero__wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.hero {
  position: relative; }
  .hero input[name='slider'] {
    display: none; }
  .hero .images {
    width: 500%;
    position: relative; }
  .hero .images div {
    width: 20%;
    height: 100vh;
    float: left;
    background-size: cover; }
  .hero .images div::before {
    content: "";
    width: 20%;
    height: 100vh;
    background-color: #7B6F66;
    position: absolute;
    opacity: 0.5; }
  .hero .overflow {
    width: 100%; }
  .hero .photo1 {
    background-image: url("../img/portfolio/1.jpg"); }
  .hero .photo2 {
    background-image: url("../img/portfolio/2.jpg"); }
  .hero .photo3 {
    background-image: url("../img/portfolio/3.jpg"); }
  .hero .photo4 {
    background-image: url("../img/portfolio/4.jpg"); }
  .hero .photo5 {
    background-image: url("../img/portfolio/5.jpg"); }
  .hero .switches {
    position: absolute;
    bottom: 2%;
    left: 40%;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hero .switches label {
    border: 1px solid #000000;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    cursor: pointer; }
  .hero input[id="toggle1"]:checked ~ .switches label:nth-child(1),
  .hero input[id="toggle2"]:checked ~ .switches label:nth-child(2),
  .hero input[id="toggle3"]:checked ~ .switches label:nth-child(3),
  .hero input[id="toggle4"]:checked ~ .switches label:nth-child(4),
  .hero input[id="toggle5"]:checked ~ .switches label:nth-child(5) {
    background-color: #000000; }
  .hero #toggle1:checked ~ .overflow .images {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  .hero #toggle2:checked ~ .overflow .images {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%); }
  .hero #toggle3:checked ~ .overflow .images {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%); }
  .hero #toggle4:checked ~ .overflow .images {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%); }
  .hero #toggle5:checked ~ .overflow .images {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); }
  .hero .images {
    -webkit-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1); }
  .hero-header {
    position: absolute;
    top: 35%;
    left: auto;
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Proxima Nova Semibold', sans-serif; }
    .hero-header_phone {
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
      text-align: center;
      font-size: 18px;
      color: #000000; }
    .hero-header_phone span {
      display: block; }
    .hero-header_title {
      font-family: 'Queen Rosie Regular', sans-serif;
      font-size: 30px; }
    .hero-header_search {
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
      background: #000000;
      position: relative;
      border-radius: 10px; }
      .hero-header_search input {
        width: 100%;
        height: 42px;
        padding-left: 10px;
        border: 2px solid #000000;
        border-radius: 5px;
        outline: none;
        background: #F9F0DA;
        color: #9E9C9C; }
      .hero-header_search button {
        position: absolute;
        top: 0;
        right: 0px;
        width: 42px;
        height: 42px;
        border: none;
        background: #000000;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        color: #ffffff; }
      .hero-header_search button:focus {
        outline: none; }
      .hero-header_search input {
        width: 90%; }

@media (max-width: 1199px) {
  .hero {
    height: 900px; }
    .hero-header {
      width: 960px; }
    .hero .images div {
      height: 900px; }
    .hero .images div::before {
      height: 900px; } }
@media (max-width: 991px) {
  .hero {
    height: 700px; }
    .hero-header {
      width: 760px; }
    .hero .images div {
      height: 700px; }
    .hero .images div::before {
      height: 700px; }
    .hero-header {
      top: 40%; }
      .hero-header_title {
        font-size: 25px; }
      .hero-header_phone {
        font-size: 16px; } }
@media (max-width: 768px) {
  .hero {
    height: 550px; }
    .hero-header {
      width: 100%; }
    .hero .images div {
      height: 550px; }
    .hero .images div::before {
      height: 550px; }
    .hero-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 30%; }
      .hero-header_search {
        display: none; }
      .hero-header_title {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; } }
@media (max-width: 650px) {
  .hero {
    height: 400px; }
    .hero-header {
      left: 0; }
    .hero .images div {
      height: 400px; }
    .hero .images div::before {
      height: 400px; }
    .hero .switches {
      width: 30%;
      left: 35%; }
    .hero-header_title {
      font-size: 16px; }
    .hero-header_phone {
      font-size: 13px; } }
.about {
  color: #ffffff;
  padding-top: 55px; }
  .about-title {
    font-family: 'Queen Rosie Regular', sans-serif;
    text-align: center;
    font-size: 25px; }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    margin: auto; }
  .about-description {
    font-size: 18px;
    width: 60%; }
  .about-description span {
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: underline;
    font-size: 20px; }
  .about-content_logo img {
    border-radius: 50px 50px;
    width: 400px;
    height: 300px;
    border: 2px solid #808080;
    margin-bottom: 10px; }

@media (max-width: 1199px) {
  .about-description {
    width: 50%; } }
@media (max-width: 991px) {
  .about-description {
    font-size: 16px;
    width: 40%; }
  .about-description span {
    font-size: 18px; } }
@media (max-width: 768px) {
  .about-description {
    width: 70%; }
  .about-content_logo img {
    width: 95%; } }
@media (max-width: 650px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-content_logo {
    text-align: center; }
  .about-content_logo img {
    width: 100%;
    max-height: 200px; }
  .about-description {
    width: 100%;
    font-size: 14px; }
  .about-description span {
    font-size: 15px; } }
.services {
  position: relative;
  color: #ffffff;
  padding-top: 55px; }
  .services input {
    display: none; }
  .services-title {
    font-family: 'Queen Rosie Regular', sans-serif;
    text-align: center;
    font-size: 25px; }
  .services-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .services-list li {
    width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50px 50px; }
  .services-list img {
    max-width: 100%;
    height: 230px; }
  .services-list_description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    border-radius: 50px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px;
    text-align: center;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 20px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .services .services__button {
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    margin-top: 50px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50px 50px;
    cursor: pointer; }
  .services-list li:hover > .services-list_description {
    top: 0%; }
  .services-list_description label:hover {
    border: 1px solid #FF0000;
    color: #FF0000;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .services .services-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
    .services .services-information_block {
      -webkit-transform: scale(0);
              transform: scale(0);
      position: inherit;
      text-align: center;
      width: 40%;
      height: 50%;
      font-size: 20px;
      border-radius: 50px 50px;
      background-image: url("../img/background.jpg");
      opacity: 0.95;
      -webkit-transition: inherit;
      transition: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .services .services-information .block__close {
      position: absolute;
      top: 0;
      right: -4%;
      font-size: 25px;
      cursor: pointer; }
    .services .services-information p {
      padding: 0 10px; }
  .services input[class="open--infomation"]:checked ~ div .services-information,
  .services input[id='read-more1']:checked ~ div .services-information .beauty-salon,
  .services input[id='read-more2']:checked ~ div .services-information .parking,
  .services input[id='read-more3']:checked ~ div .services-information .wardrobe,
  .services input[id='read-more4']:checked ~ div .services-information .transfer,
  .services input[id='read-more5']:checked ~ div .services-information .businss-center,
  .services input[id='read-more6']:checked ~ div .services-information .wi-fi {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

@media (max-width: 1199px) {
  .services-list_description {
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 40px;
    font-size: 25px; }

  .services-information {
    max-height: 95%; }
    .services-information_block {
      max-height: 33%; } }
@media (max-width: 991px) {
  .services-list_description a {
    font-size: 15px;
    color: #FFFF00;
    border: 1px solid #FFFF00;
    font-family: 'Proxima Nova Semibold', sans-serif; } }
@media (max-width: 768px) {
  .services-list_description {
    padding-top: 40px;
    font-size: 25px; }
  .services .services-information {
    height: 50%; }
    .services .services-information_block {
      font-size: 15px; }
    .services .services-information p .block__close {
      font-size: 20px; } }
@media (max-width: 650px) {
  .services-list_description a {
    margin-top: 40px; } }
.gallery {
  padding-top: 55px; }
  .gallery .wrap {
    background-image: url("../img/gallery/1.jpg");
    background-size: cover;
    height: 620px;
    overflow: hidden; }
  .gallery .gallery-overflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 300%;
    height: inherit;
    padding-bottom: 10px; }
  .gallery input {
    display: none; }
  .gallery .gallery-overflow label {
    width: 150px;
    height: 100px;
    background-size: cover;
    border-radius: 50px 50px;
    border: 2px solid white; }
  .gallery label:hover {
    cursor: pointer; }
  .gallery label[for='photo1'] {
    background-image: url("../img/gallery/1.jpg"); }
  .gallery label[for='photo2'] {
    background-image: url("../img/gallery/2.jpg"); }
  .gallery label[for='photo3'] {
    background-image: url("../img/gallery/3.jpg"); }
  .gallery label[for='photo4'] {
    background-image: url("../img/gallery/4.jpg"); }
  .gallery label[for='photo5'] {
    background-image: url("../img/gallery/5.jpg"); }
  .gallery label[for='photo6'] {
    background-image: url("../img/gallery/6.jpg"); }
  .gallery label[for='photo7'] {
    background-image: url("../img/gallery/7.jpg"); }
  .gallery label[for='photo8'] {
    background-image: url("../img/gallery/8.jpg"); }
  .gallery label[for='photo9'] {
    background-image: url("../img/gallery/9.jpg"); }
  .gallery input[id='photo1']:checked ~ .wrap {
    background-image: url("../img/gallery/1.jpg"); }
  .gallery input[id='photo2']:checked ~ .wrap {
    background-image: url("../img/gallery/2.jpg"); }
  .gallery input[id='photo3']:checked ~ .wrap {
    background-image: url("../img/gallery/3.jpg"); }
  .gallery input[id='photo4']:checked ~ .wrap {
    background-image: url("../img/gallery/4.jpg"); }
  .gallery input[id='photo5']:checked ~ .wrap {
    background-image: url("../img/gallery/5.jpg"); }
  .gallery input[id='photo6']:checked ~ .wrap {
    background-image: url("../img/gallery/6.jpg"); }
  .gallery input[id='photo7']:checked ~ .wrap {
    background-image: url("../img/gallery/7.jpg"); }
  .gallery input[id='photo8']:checked ~ .wrap {
    background-image: url("../img/gallery/8.jpg"); }
  .gallery input[id='photo9']:checked ~ .wrap {
    background-image: url("../img/gallery/9.jpg"); }
  .gallery input[id='photo1']:checked ~ .wrap .gallery-overflow {
    -webkit-transition: translateX(0%);
    transition: translateX(0%); }
  .gallery input[id='photo3']:checked ~ .wrap .gallery-overflow {
    -webkit-transform: translateX(-22%);
            transform: translateX(-22%); }
  .gallery input[id='photo4']:checked ~ .wrap .gallery-overflow {
    -webkit-transform: translateX(-22%);
            transform: translateX(-22%); }
  .gallery input[id='photo5']:checked ~ .wrap .gallery-overflow {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%); }
  .gallery input[id='photo6']:checked ~ .wrap .gallery-overflow {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%); }
  .gallery input[id='photo7']:checked ~ .wrap .gallery-overflow {
    -webkit-transform: translateX(-67%);
            transform: translateX(-67%); }
  .gallery input[id='photo8']:checked ~ .wrap .gallery-overflow {
    -webkit-transform: translateX(-67%);
            transform: translateX(-67%); }
  .gallery .gallery-overflow {
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1); }

@media (max-width: 768px) {
  .gallery .wrap {
    padding: 0; }
  .gallery .gallery-overflow {
    width: 300%; } }
@media (max-width: 650px) {
  .gallery .gallery-overflow label {
    width: 10%;
    height: 20%; }
  .gallery .wrap {
    height: 300px; } }
.booking {
  padding-top: 55px;
  color: white; }
  .booking-title {
    font-family: 'Queen Rosie Regular', sans-serif;
    text-align: center; }
  .booking-phone {
    margin-left: 6%;
    font-family: 'Proxima Nova Semibold', sans-serif; }
  .booking input {
    margin-bottom: 10px;
    height: 30px;
    background-color: gray;
    border: 1px solid white;
    border-radius: inherit;
    padding-left: 10px;
    width: 100%;
    color: white;
    outline: none; }
  .booking label {
    font-size: 18px; }
  .booking ::-webkit-input-placeholder {
    color: white; }
  .booking-room form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: 'Proxima Nova Semibold', sans-serif; }
    .booking-room form .booking-form {
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: 10px; }
      .booking-room form .booking-form_personalData {
        border: 2px solid grey;
        padding: 20px;
        border-radius: 50px 50px;
        text-align: center; }
      .booking-room form .booking-form input[name="room_type"] {
        display: none; }
      .booking-room form .booking-form_typeRooms {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        border: 2px solid gray;
        border-radius: 50px 50px;
        padding: 20px;
        margin-bottom: 20px; }
        .booking-room form .booking-form_typeRooms span {
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
          font-size: 18px;
          text-transform: uppercase;
          text-decoration: underline; }
        .booking-room form .booking-form_typeRooms label {
          -ms-flex-preferred-size: 40%;
              flex-basis: 40%;
          padding: 5px;
          margin-top: 15px;
          cursor: pointer; }
      .booking-room form .booking-form input[id='standart']:checked ~ .booking-form_typeRooms label[for='standart'],
      .booking-room form .booking-form input[id='economy']:checked ~ .booking-form_typeRooms label[for='economy'],
      .booking-room form .booking-form input[id='deluxe']:checked ~ .booking-form_typeRooms label[for='deluxe'],
      .booking-room form .booking-form input[id='suite']:checked ~ .booking-form_typeRooms label[for='suite'] {
        border-radius: 50px 50px;
        border: 1px solid white;
        background-color: gray; }
    .booking-room form .booking-block {
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .booking-room form .booking-block__button input {
        margin-top: 20px;
        cursor: pointer; }
      .booking-room form .booking-block_day {
        width: 100%;
        border: 2px solid gray;
        border-radius: 50px 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        padding: 10px 0; }
      .booking-room form .booking-block_day input {
        display: block;
        border-radius: 50px 50px; }
      .booking-room form .booking-block .booking-block_rooms {
        width: 100%;
        position: relative; }
        .booking-room form .booking-block .booking-block_rooms .tabbed {
          margin-top: 10px;
          padding: 0 30px; }
        .booking-room form .booking-block .booking-block_rooms .tabbed > input {
          display: none; }
        .booking-room form .booking-block .booking-block_rooms .tabbed label {
          padding: 0 15px;
          cursor: pointer;
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
          border-radius: 50px 0; }
        .booking-room form .booking-block .booking-block_rooms .tabbed label:hover,
        .booking-room form .booking-block .booking-block_rooms .tabbed input:checked + label {
          background-color: gray; }
        .booking-room form .booking-block .booking-block_rooms .tabbed .tabs div {
          position: absolute;
          opacity: 0;
          width: 93%;
          padding: 20px;
          border: 2px solid gray; }
        .booking-room form .booking-block .booking-block_rooms .tabbed input[id="tab_1"]:checked ~ .tabs div.standart_tab,
        .booking-room form .booking-block .booking-block_rooms .tabbed input[id="tab_2"]:checked ~ .tabs div.economy_tab,
        .booking-room form .booking-block .booking-block_rooms .tabbed input[id="tab_3"]:checked ~ .tabs div.deluxe_tab,
        .booking-room form .booking-block .booking-block_rooms .tabbed input[id="tab_4"]:checked ~ .tabs div.suite_tab {
          opacity: 1; }
        .booking-room form .booking-block .booking-block_rooms .tabbed table {
          font-size: 25px;
          width: 100%;
          text-align: center;
          border-spacing: 3px 4px; }
        .booking-room form .booking-block .booking-block_rooms .tabbed table tr:nth-child(2) td,
        .booking-room form .booking-block .booking-block_rooms .tabbed table tr:nth-child(4) td,
        .booking-room form .booking-block .booking-block_rooms .tabbed table tr:nth-child(6) td,
        .booking-room form .booking-block .booking-block_rooms .tabbed table tr:nth-child(8) td {
          width: 30px;
          border: 1px solid gray;
          border-radius: 50px 50px; }
        .booking-room form .booking-block .booking-block_rooms .tabbed table span {
          color: white; }
        .booking-room form .booking-block .booking-block_rooms .tabbed table tr td.book {
          border: 1px solid red;
          background-color: gray; }

@media (max-width: 1199px) {
  .booking-phone {
    margin-left: 4%; }
  .booking-room form .booking-form_typeRooms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .booking-room form .booking-form_typeRooms {
    margin-top: 2px; }
  .booking-room form .booking-block_day input[type='text'] {
    width: 60%;
    margin: auto;
    margin-bottom: 10px; } }
@media (max-width: 991px) {
  .booking-phone {
    margin-left: 3%; }
  .booking-room form .booking-block .booking-block_rooms .tabbed table {
    border-spacing: 5px 14px; }
  .booking-room form .booking-block_day {
    padding: 5px 10px; } }
@media (max-width: 768px) {
  .booking {
    text-align: center; }
    .booking-phone {
      margin-left: auto; }
    .booking-room form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .booking-room form .booking-form_personalData {
        width: 300px;
        margin-bottom: 10px; }
    .booking .booking-block_rooms {
      height: 500px; } }
@media (max-width: 650px) {
  .booking-room form .booking-block_day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%; }
  .booking-room form .booking-block .booking-block_rooms .tabbed .tabs table {
    margin-right: 90px;
    font-size: 15px; }
  .booking-room form .booking-block .booking-block_rooms .tabbed .tabs div {
    border: none;
    padding: 0px; }
  .booking-room form .booking-block .booking-block_rooms .tabbed label {
    font-size: 15px; } }
.map {
  padding-top: 55px; }

.footer {
  padding: 10px 0;
  margin-top: 50px;
  background-color: #262626;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer a {
    color: #ffffff;
    text-decoration: none; }
  .footer__title {
    text-transform: uppercase;
    font-family: 'Queen Rosie Regular', sans-serif;
    text-align: center; }
  .footer__description span {
    display: block; }
  .footer__location {
    margin-bottom: 10px; }
  .footer__copy {
    color: #767676; }
  .footer__phone {
    display: block;
    margin-bottom: 10px; }
  .footer-social {
    text-align: center; }
  .footer-social__link {
    margin-left: 10px; }

@media (max-width: 650px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .footer__title {
    margin-top: 0px; } }

/*# sourceMappingURL=style.css.map */