*
	box-sizing: border-box

body 
	+light
	background-image: url('../img/background-body.jpg')

.container
	max-width: 1170px
	margin: auto

.wrap
	background-image: url("../img/background.jpg")
	border: 2px solid #808080
	border-radius: 50px 50px

section:not(:first-of-type)
	padding-top: 55px



@media (max-width: 1199px)
	.container
		max-width: 960px

@media (max-width: 991px)
	.container
		max-width: 760px

@media (max-width: 768px)
	.container
		max-width: 100%

	.wrap
		border-radius: 0

