.gallery
	.wrap
		background-image: url('../img/gallery/1.jpg')
		background-size: cover
		height: 620px
		overflow: hidden

	.gallery-overflow
		display: flex
		justify-content: space-around
		align-items: flex-end
		width: 300%
		height: inherit
		padding-bottom: 10px
		
	input
		display: none

	.gallery-overflow label
		width: 150px
		height: 100px
		background-size: cover
		border-radius: $border
		border: 2px solid #ffffff

	label:hover
		cursor: pointer

	@for $i from 1 through 9
		label[for='photo#{$i}']
			background-image: url('../img/gallery/#{$i}.jpg')
		input[id='photo#{$i}']:checked ~ .wrap
			background-image: url('../img/gallery/#{$i}.jpg')

	input[id='photo1']:checked ~ .wrap .gallery-overflow
		transition: translateX(0%)

	input[id='photo3']:checked ~ .wrap .gallery-overflow
		transform: translateX(-22%)

	input[id='photo4']:checked ~ .wrap .gallery-overflow
		transform: translateX(-22%)

	input[id='photo5']:checked ~ .wrap .gallery-overflow
		transform: translateX(-45%)

	input[id='photo6']:checked ~ .wrap .gallery-overflow
		transform: translateX(-45%)

	input[id='photo7']:checked ~ .wrap .gallery-overflow
		transform: translateX(-67%)

	input[id='photo8']:checked ~ .wrap .gallery-overflow
		transform: translateX(-67%)
	

	.gallery-overflow
		transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000)


@media (max-width: 768px)
	.gallery
		.wrap
			padding: 0

		.gallery-overflow
			width: 300%
			

@media (max-width: 650px)
	.gallery
		.gallery-overflow label
			width: 10%
			height: 20%
		.wrap
			height: 300px


