.hero 
	display: flex
	justify-content: space-around
	align-items: center

	&_number 
		display: block
		color: white
		font-size: 21px
		letter-spacing: 1px
	
	&_description 
		color: black     //change it!!!!!
		text-transform: uppercase
		font-size: 12px

	&_title h1
		+light
		font-size: 45px
		color: white
		text-transform: uppercase
	&_title h1:first-letter 
		font-size: 55px	
	
	
		






