.header
	background-image: url('../img/background.jpg')
	border: 1px solid black
	border-bottom: 3px solid black
	position: fixed
	width: 100%
	top: 0

	.navbar__links
		list-style: none
		padding: 0
		display: flex
		justify-content: space-between
		align-items: center
		text-align: center

	.navbar__links li
		border-right: 1px solid #babbbb
		width: 20% 

	.navbar__links li:first-of-type
		border-left: 1px solid #babbbb
		
	.navbar__links a,
	.menu__phone a
		+bolt
		color: #949494
		text-decoration: none
		font-size: 20px
		transition-duration: 0.3s

	.navbar__links a:hover
		color: white
		transition-duration: 0.3s

	.menu__phone
		position: absolute
		background-image: url('../img/background.jpg')
		width: 100%
		left: 0
		transform: translateY(-100%)
		transition-duration: 0.3s
		opacity: 0

	.menu__phone ul
		list-style: none
		text-align: center
		padding: 0

	.menu__phone ul li 
		padding-top: 10px

label[for="menu"]
	color: black
	cursor: pointer
	position: absolute
	right: 5%
	margin-top: 25px
	display: none


input[id="menu"], label[for="menu"],
	display: none

input[id="menu"]:checked ~ label[for="menu"]
	color: white
	z-index: 1
	
input[id="menu"]:checked ~ .header .menu__phone 
	transform: translateY(0%)
	opacity: 1
	transition-duration: 0.3s

@media (max-width: 1199px)
	
@media (max-width: 991px)

@media (max-width: 768px)
	
@media (max-width: 650px)
	.header
		border: none

	.navbar 
		display: none

	label[for="menu"]
		display: block
		font-size: 20px