
.portfolio
	min-height: 500px
	
	.portfolio--wrap
		min-height: 500px
		width: 100%
		background-image: url("../img/background.jpg")
		border: 2px solid black
		border-radius: 50px 50px
		
	&__collection
		height: 350px
		margin: 50px auto 0
		position: relative
		width: 700px
		//display: flex
		//align-items: center
		//justify-content: center
		//width: 100%
		//background-image: url("../img/background.jpg")
		//min-height: 500px
		//border: 2px solid black
		//border-radius: 50px 50px
	
	&__collection > input
		display: none

	.slider 
		background-color: #ddd
		height: inherit
		overflow: hidden
		position: relative
		width: inherit
		box-shadow: 0 0 20px rgba(0, 0, 0, .5)

	.slides
		height: inherit
		position: absolute
		width: inherit

	.slide1
		background-image: url('../img/portfolio/4.jpg')
		

	
		


		