
.portfolio
	min-height: 500px
	
	.portfolio--wrap
		min-height: 500px
		width: 100%
		background-image: url("../img/background.jpg")
		border: 2px solid black
		border-radius: 50px 50px
		
	&__collection
		display: flex
		align-items: center
		justify-content: space-around
		width: 100%
		min-height: inherit

	.slider
		max-height: 450px
		overflow: hidden
		border: 1px solid red
	
	.slide
		width: 70%
		max-height: 450px
		border-radius: 50px 50px
		overflow: hidden

	.slide img
		width: 100%
		height: auto
		object-fit: cover

	.arrow	
		color: white
		font-size: 50px
		

	
		


		