@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Queen Rosie Regular';
  src: url("../fonts/QueenRosie.eot");
  src: url("../fonts/QueenRosie.eot?#iefix") format("embedded-opentype"), url("../fonts/QueenRosie.woff") format("woff"), url("../fonts/QueenRosie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  background-image: url("../img/background-body.jpg"); }

.container {
  max-width: 1170px;
  margin: auto; }

.wrap {
  background-image: url("../img/background.jpg");
  border: 2px solid grey;
  border-radius: 50px 50px; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }
@media (max-width: 991px) {
  .container {
    max-width: 760px; } }
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px; }

  .wrap {
    border-radius: 0; } }
.header {
  background-image: url("../img/background.jpg");
  border: 1px solid #000000;
  border-bottom: 3px solid #808080;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1; }
  .header-navbar__links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
  .header-navbar__links li {
    border-right: 1px solid #babbbb;
    flex-basis: 20%; }
  .header-navbar__links li:first-of-type {
    border-left: 1px solid #babbbb; }
  .header-navbar__links a, .header-menu__phone a {
    font-family: 'Proxima Nova Semibold', sans-serif;
    color: #949494;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition-duration: 0.3s; }
  .header-navbar__links a:hover {
    color: #ffffff;
    transition-duration: 0.3s; }
  .header-menu__phone {
    position: absolute;
    background-image: url("../img/background.jpg");
    width: 100%;
    left: 0;
    transform: translateY(-100%);
    transition-duration: 0.3s;
    opacity: 0; }
  .header-menu__phone ul {
    list-style: none;
    text-align: center;
    padding: 0; }
  .header-menu__phone ul li {
    padding-top: 10px; }

label[for="menu"] {
  display: none;
  color: #000000;
  cursor: pointer;
  position: fixed;
  right: 5%;
  margin-top: 25px;
  z-index: 2; }

.toggle_menu {
  display: none; }

input[id="menu"]:checked ~ label[for="menu"] {
  color: #ffffff;
  z-index: 2; }

input[id="menu"]:checked ~ .header .header-menu__phone {
  transform: translateY(0%);
  opacity: 1;
  transition-duration: 0.3s; }

@media (max-width: 650px) {
  .header {
    border: none; }
    .header-navbar {
      display: none; }

  label[for="menu"] {
    display: block;
    font-size: 20px; } }
.hero__wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.hero {
  position: relative; }
  .hero input[name='slider'] {
    display: none; }
  .hero .images {
    width: 500%;
    position: relative; }
  .hero .images div {
    width: 20%;
    height: 100vh;
    float: left;
    background-size: cover; }
  .hero .images div::before {
    content: "";
    width: 20%;
    height: 100vh;
    background-color: #7B6F66;
    position: absolute;
    opacity: 0.5; }
  .hero .overflow {
    width: 100%; }
  .hero .photo1 {
    background-image: url("../img/portfolio/1.jpg"); }
  .hero .photo2 {
    background-image: url("../img/portfolio/2.jpg"); }
  .hero .photo3 {
    background-image: url("../img/portfolio/3.jpg"); }
  .hero .photo4 {
    background-image: url("../img/portfolio/4.jpg"); }
  .hero .photo5 {
    background-image: url("../img/portfolio/5.jpg"); }
  .hero .switches {
    position: absolute;
    bottom: 2%;
    left: 40%;
    width: 20%;
    display: flex;
    justify-content: space-between; }
  .hero .switches label {
    border: 1px solid #57D3FF;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    z-index: 2;
    cursor: pointer; }
  .hero input[id="toggle1"]:checked ~ .switches label:nth-child(1),
  .hero input[id="toggle2"]:checked ~ .switches label:nth-child(2),
  .hero input[id="toggle3"]:checked ~ .switches label:nth-child(3),
  .hero input[id="toggle4"]:checked ~ .switches label:nth-child(4),
  .hero input[id="toggle5"]:checked ~ .switches label:nth-child(5) {
    background-color: #57D3FF; }
  .hero #toggle1:checked ~ .overflow .images {
    transform: translateX(0%); }
  .hero #toggle2:checked ~ .overflow .images {
    transform: translateX(-20%); }
  .hero #toggle3:checked ~ .overflow .images {
    transform: translateX(-40%); }
  .hero #toggle4:checked ~ .overflow .images {
    transform: translateX(-60%); }
  .hero #toggle5:checked ~ .overflow .images {
    transform: translateX(-80%); }
  .hero .images {
    transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1); }
  .hero-header {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Proxima Nova Semibold', sans-serif; }
    .hero-header_phone {
      flex-basis: 15%;
      text-align: center;
      font-size: 18px;
      color: #ffffff; }
    .hero-header_phone span {
      display: block; }
    .hero-header_title {
      font-family: 'Queen Rosie Regular', sans-serif;
      font-size: 30px; }
    .hero-header_search {
      flex-basis: 15%;
      text-align: center; }
      .hero-header_search input {
        width: 90%; }

@media (max-width: 1199px) {
  .hero {
    height: 900px; }
    .hero .images div {
      height: 900px; }
    .hero .images div::before {
      height: 900px; } }
@media (max-width: 991px) {
  .hero {
    height: 700px; }
    .hero .images div {
      height: 700px; }
    .hero .images div::before {
      height: 700px; }
    .hero-header {
      top: 40%; }
      .hero-header_title {
        font-size: 25px; }
      .hero-header_phone {
        font-size: 16px; } }
@media (max-width: 768px) {
  .hero {
    height: 550px; }
    .hero .images div {
      height: 550px; }
    .hero .images div::before {
      height: 550px; }
    .hero-header {
      flex-direction: column;
      top: 30%; }
      .hero-header_search {
        display: none; }
      .hero-header_title {
        order: -1; } }
@media (max-width: 650px) {
  .hero {
    height: 400px; }
    .hero .images div {
      height: 400px; }
    .hero .images div::before {
      height: 400px; }
    .hero .switches {
      width: 30%;
      left: 35%; }
    .hero-header_title {
      font-size: 16px; }
    .hero-header_phone {
      font-size: 13px; } }
.about {
  color: #ffffff;
  padding-top: 55px; }
  .about-title {
    font-family: 'Queen Rosie Regular', sans-serif;
    text-align: center;
    font-size: 25px; }
  .about--content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto; }
  .about__description {
    font-size: 18px;
    width: 60%; }
  .about__description span {
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: underline;
    font-size: 20px; }
  .about__logo img {
    border-radius: 50px 50px;
    width: 400px;
    height: 300px;
    border: 2px solid gray;
    margin-bottom: 10px; }

@media (max-width: 1199px) {
  .about__description {
    width: 50%; } }
@media (max-width: 991px) {
  .about__description {
    font-size: 16px;
    width: 40%; }
  .about__description span {
    font-size: 18px; } }
@media (max-width: 768px) {
  .about__description {
    width: 70%; }
  .about__logo img {
    width: 95%; } }
@media (max-width: 650px) {
  .about--content {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about__logo {
    text-align: center; }
  .about__logo img {
    width: 100%;
    max-height: 200px; }
  .about__description {
    width: 100%;
    font-size: 14px; }
  .about__description span {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
